# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/

# Ignore large model files
*.pkl
*.joblib
*.h5

# Ignore datasets (if stored locally)
*.csv
*.xlsx
*.json

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
*.log
*.tmp
.DS_Store

# Ignore system files (Windows & Mac)
Thumbs.db
